*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    /* width: 1200px; */
    margin: auto;
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}
.nav{
    color: black;
    /* text-align: center; */
    position: sticky;
    top: 0px;
    cursor: pointer;
}
.nav ul{
    display: inline-block;
    padding: 23px 8px;
    color: white;
}
.nav ul:hover{
    background-color: rgba(16, 14, 11, 0.15);
    font-size: 20px;
    font-weight: 900;
}
.logo :hover{
    background-color: rgba(103, 99, 95, 0.169);
}
.main_img{
    background: url(https://cdn.pixabay.com/photo/2016/11/18/16/49/books-1835753__480.jpg);
    height: 1000px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.cont_area{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1000px;
    margin: auto;
    /* position: absolute;
    top: 420px;
    left: 700px; */
}
.cont{
    text-align: center;
    }
.cont p{
    font-size: 24px;
    /* -webkit-text-stroke: 1px rgb(218, 218, 29); */
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    text-align: center;
}
.logo{
    float: left;
    margin-top: 3px;
    margin-left: 24px;
    position: sticky;
}
.login{
    font-size: 24px;
    position: absolute;
    top: 20px;
    right: 24px;
    color: white;
}
/* .link{
    position: absolute;
    bottom: 249px;
    left: 488px;
} */
#link{
    margin-top: 70px;
}
a{
    text-decoration: none;
    color: white;
}
.cont #link :hover{
    font-size: 36px;
    background-color: rgba(18, 18, 41, 0.138);
}